body {
  background-color: lightblue;
  position: relative;
  text-align: center;
  font-family: sans-serif;
}

input {
  font-size: 16px;
  width: 200px;
  border-radius: 30px;
}

label {
  color: white;
}

#title {
  text-align: center;
}

input:required {
  color: darkblue;
}

#survey-form {
  background-color: darkblue;
  border: 1px solid;
  border-radius: 1px;
}

#name {
  border-radius: 30px;
}

#email {
  border-radius: 30px;
}

#number {
  color: white;
}

#submit {
  background-color: green;
}
